<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveIts > 0,
                'list-group-item-danger': post.loveIts < 0,
                'flex-column align-items-start': true}">

    <!-- Post List Item -->
    <div [ngStyle]="{color: getColor()}">
        <!-- Header -->
        <div class="d-flex w-100 justify-content-between">
            <h4>{{ post.title }}</h4>
            <span>{{ post.createdAt | date: 'short' }}</span>
        </div>

        <!-- Content -->
        <p>{{ post.content }}</p>

        <!-- CTA Like | Don't Like -->
        <div class="cta-wrapper d-flex">
            <button class="btn btn-success mr-1" [disabled]="!isAuth" (click)="loveIt()">Love it!</button>
            <button class="btn btn-danger ml-1" [disabled]="!isAuth" (click)="dontLoveIt()">Don't love
                it!</button>
        </div>
    </div>
</li>